.dialog {
  position: absolute;
  max-width: 860px;
  filter: brightness(0.8);

  &--minimized {
    visibility: hidden;
  }

  &--maximized {
    width: calc(100% - 6px);
    height: calc(100% - 6px);
  }

  &--active {
    filter: unset;
  }
}

.titleBarText {
  display: flex;
  align-items: center;

  img {
    width: 16px;
    height: 16px;
    padding-right: 4px;
  }
}