.dialog {
  position: absolute;

  &--minimized {
    visibility: hidden;
  }

  &--maximized {
    width: calc(100% - 6px);
    height: calc(100% - 6px);
  }
}

.titleBarText {
  display: flex;
  align-items: center;

  img {
    width: 16px;
    height: 16px;
    padding-right: 4px;
  }
}