@import '../../../styles/constants/colors';

.taskbar {
  position: absolute;
  bottom: 0;
  width: calc(100vw - 6px);
  display: flex;
  justify-content: space-between;

  div {
    display: flex;
  }

  hr {
    width: 0;
    margin: 2px 2px;
    box-shadow: none;
  }
}